body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    /* Header(auto), Contenido(1fr), Footer(auto) */
    min-height: 100vh;
    margin: 0;
}

img {
    height: 200px;
    object-fit: contain;
}

.card {
    min-width: 200px;
    height: 350px;
}

.indexPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2%;
}

#admin-form {
    max-width: 500px;
}

#seccion_productos {
    background-color: var(--naranja);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.productos_grid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

/* Traido desde style_productos.css */
.seccion_filtros {
    background-color: var(--amarillo);
    align-self: stretch;
}

#container {
    margin: 0;
    padding: 0;
    background-color: var(--naranja);
}

.filtros__lista {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.filtros_btn {
    color: var(--crema);
    background-color: #be7e5b;
    border: none;
    padding: 0.3rem;
    width: 100px;
    margin: 10px;
    cursor: pointer;
}

.footer {
    margin: 0;
}