<!-- Aca armar segun sea alta o modificacion para no ser redundante -->
<section class="container py-4">
    <h1 id="tituloForm" class="mb-4">
        <%= modo === 'editar' ? 'Editar Producto' : 'Crear Producto' %>
    </h1>
    <form id="formProducto" class="row g-4" enctype="multipart/form-data">
        <!--  DATOS GENERALES -->
        <div class="form-section col-12">
            <h4>Datos Generales</h4>
            <div class="row g-3">
                <!-- Titulo -->
                <div class="col-md-6">
                    <label class="form-label">Título</label>
                    <input type="text" id="titulo" name="titulo" class="form-control"/>
                </div>

                <!-- Precio -->
                <div class="col-md-6">
                    <label class="form-label">Precio</label>
                    <input type="number" step="0.01" id="precio" name="precio" class="form-control"/>
                </div>

                <!-- Imagen -->
                <div class="col-md-6 d-flex flex-column justify-content-center">
                    <label class="form-label">Imagen</label>
                    <input type="file" id="imagen" name="imagen" class="form-control" accept="image/*"/>
                    
                    <!-- CAMPO OCULTO: Guarda la ruta de la imagen actual si existe -->
                    <input type="hidden" name="imagenExistente" id="imagenExistente"/>
                </div>
            
                <!-- Vista previa de Imagen -->
                <div class="col-md-6 d-flex flex-column flex-lg-row justify-content-lg-around align-items-lg-center">
                    <label class="form-label m-2 mb-lg-0">Vista Previa: </label>
                    <img id="previewImg" src="" class="img-fluid mt-3 mt-lg-0 rounded border d-none" style="max-height: 180px; object-fit: contain"/>
                </div>
                
                <!-- Stock -->
                <div class="col-md-3">
                    <label class="form-label">Stock</label>
                    <input type="number" id="stock" name="stock" class="form-control"/>
                </div>
                <!-- Estado -->
                <div class="col-md-3">
                    <label class="form-label">Estado</label>
                    <select id="estado" name="estado" class="form-select">
                        <option value="true">Activo</option>
                        <option value="false">Inactivo</option>
                    </select>
                </div>
                <!-- Tipo de producto -->
                <div class="col-md-6">
                    <label class="form-label">Categoría</label>
                    <input type="text" id="categoria" name="categoria" class="form-control"/>
                </div>
            </div>
        </div>
        <!-- INFO DISCO -->
        <div id="seccionDisco" class="form-section col-12 d-none">
            <h4>Información de Disco</h4>
            <div class="row g-3">
                <!-- Interprete -->
                <div class="col-md-6">
                    <label class="form-label">Intérprete</label>
                    <input type="text" id="interprete" name="interprete" class="form-control"/>
                </div>
                <!-- Año -->
                <div class="col-md-3">
                    <label class="form-label">Año</label>
                    <input type="number" id="anio" name="anio" class="form-control"/>
                </div>
                <!-- Género -->
                <div class="col-md-3">
                    <label class="form-label">Género</label>
                    <input type="text" id="generoDisco" name="generoDisco" class="form-control"/>
                </div>
            </div>
        </div>
        <!-- INFO LIBRO -->
        <div id="seccionLibro" class="form-section col-12 d-none">
            <h4>Información de Libro</h4>
            <!-- Autor -->
            <div class="row g-3">
                <div class="col-md-6">
                    <label class="form-label">Autor</label>
                    <input type="text" id="autor" name="autor" class="form-control"/>
                </div>
                <!-- Editorial -->
                <div class="col-md-6">
                    <label class="form-label">Editorial</label>
                    <input type="text" id="editorial" name="editorial" class="form-control"/>
                </div>
                <!-- Género -->
                <div class="col-md-6">
                    <label class="form-label">Género</label>
                    <input type="text" id="generoLibro" name="generoLibro" class="form-control"/>
                </div>
            </div>
        </div>
        <!-- Submit -->
        <div id="guardarCambios" class="col-12 text-center">
            <button class="btn btn-outline-success px-4" type="submit">Guardar</button>
        </div>
    </form>
</section>