<section id="container">
    <div class="seccion_filtros">
        <ul class="filtros__lista">
            <li><button class="filtros_btn" data-filtro="todos">VER TODO</button></li>
            <li><button class="filtros_btn" data-filtro="discos">VER DISCOS</button></li>
            <li><button class="filtros_btn" data-filtro="libros">VER LIBROS</button></li>
        </ul>
    </div>
    <div id="seccion_productos">

        <a href="/admin/crear" class="btn btn-primary m-2 col-4">Crear Nuevo Producto</a>

        <section class="categoria" id="seccion_libros">
            <h2 class="categoria__titulo">LIBROS</h2>
            <div id="grid_libros" class="productos_grid"></div>
        </section>

        <hr class="separador" id="separador_productos" />

        <section class="categoria" id="seccion_discos">
            <h2 class="categoria__titulo">DISCOS</h2>
            <div id="grid_discos" class="productos_grid"></div>
        </section>
    </div>
</section>

<script src="/script/admin.js" type="module"></script>
