<h1>Bienvenido/a <span id="nombre_usuario"></span></h1>

<section class="categoria">
  <h2 class="categoria__titulo">LIBROS</h2>
  <div id="grid_libros" class="productos_grid"></div>
</section>

<hr class="separador" />

<section class="categoria">
  <h2 class="categoria__titulo">DISCOS</h2>
  <div id="grid_discos" class="productos_grid"></div>
</section>
