<div class="contenedor__footer">
    <div class="contenedor_logo">
        <img
            src="http://localhost:3000/img/logo-header.png"
            alt="logo"
            class="footer__logo"
        />
    </div>
    <div class="footer_creditos">
        <ul>
            <li>Nicolas Jeremias</li>
            <li>Julian Vitacca</li>
        </ul>
    </div>
</div>
