<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>La tienda de Jerry</title>
<link rel="stylesheet" href="/frontend/compartida/css/style_global.css" />
<link rel="stylesheet" href="/admin.css" />
<!-- Bootstrap Styles -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
<link rel="icon" href="http://localhost:3000/img/logo-favicon.png">