<div class="contenedor__header">
    <div class="header__top">
        <a href="/frontend/cliente/index.html" class="header__logo_link">
            <div class="header__contedor_logo">
                <div class="header__logo">
                    <img
                        src="/img/logo-header.png"
                        alt="logo"
                    />
                </div>
            </div>
        </a>

        <button class="boton__carrito" id="btnCarrito" aria-label="Ver carrito">
            <span class="boton__carrito_icono">🛒</span>
        </button>
    </div>
</div>
