<div class="header__top">

    <a href="/frontend/cliente/index.html" class="header__logo_link">
        <div class="header__contedor_logo">
            <div class="header__logo">
                <img src="/img/logo-header.png" alt="logo" />
            </div>
        </div>
    </a>

    <div class="contenedor_botones">
        <button id="boton_tema">🌙 Activar Modo oscuro</button>
    </div>
    
</div>
