<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>D&L</title>
<!-- <link rel="stylesheet" href="../compartida/css/style_global.css" />
<link rel="stylesheet" href="assets/css/style_index.css" /> -->
<link rel="stylesheet" href="/front/compartida/css/style_global.css" />
<link rel="stylesheet" href="/front/cliente/assets/css/style_productos.css" />