
/*paleta de colores*/

:root{
    --crema: #fdf8e2;
    --amarillo: #f1b159;
    --naranja: #ec9667;
    --rosa: #c87e7d;
    --violeta: #827ba7;
    --marron: #471b18;
}

*{
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}


.header__top{
    background-color: var(--marron);
    height: 100px;
    display: flex;
    align-items: center;
}


.header__contedor_logo{
    background-color: var(--crema);
    height: 100%;
    border-bottom-right-radius: 100px;
    overflow: hidden;
}

.header__logo{
    padding: 10px 0;
    width: 80%;
}


.header__logo img{
    width: 100%;
    height: 100%;
    max-height: 80px;
    margin-left: 20px;
}


.boton__carrito{
    background-color: var(--rosa);
    padding: 20px;
}
