body{
    background-color: var(--crema);
}

.container{
    padding: 2rem 3rem 3rem;
}

h1{
    font-size: 1rem;
    color: rgb(173, 173, 173);
}

.categoria__titulo{
    font-size: 2.5rem;
    letter-spacing: 0.08rem;
    color: var(--violeta);
    margin-bottom: 1rem;
}

.separador{
    border: none;
    border-top: 3px solid var(--violeta);
    gap: 2rem;
}

.productos-grid{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(190px, 1fr));
    gap: 2rem;
}


.producto-card{
    border: 4px solid var(--marron);
    background-color: #fff;
    display: flex;
    flex-direction: column;
}


.contenedor_imagen_producto{
    background-color: rgb(158, 158, 158);
    height: 180px;
}

/*aca me falta la imagen*/

.contenedor_cuerpo_producto{
    padding: 0.75rem 0.9rem 0.9rem;
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}

.producto_titulo{
    font-size: 1rem;
    font-weight: 500;
}

.producto_precio{
    font-weight: 600;
    margin-bottom: 0.4rem;
}

.producto_boton{
    align-self: flex-end;
    background-color: var(--rosa);
    color: #fff;
    border: none;
    padding: 0.25rem 0.7rem;
    font-size: 0.8rem;
    cursor: pointer;
    text-transform: lowercase;
}

.producto_boton:hover{
    opacity: 0.7;
}