body{
    background-color: var(--crema);
}

.container{
    display: flex;
    flex-direction: column;
}

.seccion_filtros{
    background-color: var(--amarillo);
    align-self: stretch;
}

.filtros__lista{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.filtros_btn{
    color: var(--crema);
    background-color: #be7e5b;
    border: none;
    padding: 0.3rem;
    width: 100px;
    margin: 10px;
    cursor: pointer;
}

.seccion_productos{
    padding: 20px;
}

h1{
    font-size: 1rem;
    color: rgb(173, 173, 173);
}

.categoria__titulo{
    font-size: 2.5rem;
    letter-spacing: 0.08rem;
    color: var(--violeta);
    margin-bottom: 1rem;
}

.separador{
    border: none;
    border-top: 3px solid var(--violeta);
    gap: 2rem;
}

.productos_grid{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(190px, 1fr));
    gap: 2rem;
}


.producto_card{
    border: 4px solid var(--marron);
    background-color: #fff;
    display: flex;
    flex-direction: column;
}


.contenedor_imagen_producto{
    background-color: rgb(158, 158, 158);
    height: 180px;
    width: 100%;
    overflow: hidden;
}

.contenedor_imagen_producto img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.contenedor_cuerpo_producto{
    padding: 0.75rem 0.9rem 0.9rem;
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}

.producto_titulo{
    font-size: 1rem;
    font-weight: 500;
}

.producto_precio{
    font-weight: 600;
    margin-bottom: 0.4rem;
}

.producto_boton_agregar, .producto_boton_eliminar{
    align-self: flex-end;
    background-color: var(--rosa);
    color: #fff;
    border: none;
    padding: 0.25rem 0.7rem;
    font-size: 0.8rem;
    cursor: pointer;
    text-transform: lowercase;
}

.producto_boton_agregar:hover , .producto_boton_eliminar:hover{
    opacity: 0.7;
}

/*Modal*/

.modal{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.oculto{
    display: none;
}


.modal_contenido{
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    max-width: 400px;
    width: 90%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.modal_cerrar{
    position: absolute;
    top: 8px;
    right: 8px;
    border-radius: 10px;
    border-color: var(--rosa);
    background-color: var(--rosa);
    padding: 5px;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
}

.modal_imagen{
    width: 100%;
    height: 180px;
    overflow: hidden;
}

.modal_imagen img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.modal_cantidad{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.modal_cantidad p{
    color: #a8a8a8;
    font-size: 0.8rem;
}

.modal_cantidad button{
    padding: 4px 8px;
    cursor: pointer;
}

.modal_acciones{
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.modal_acciones button{
    flex: 1;
    padding: 8px;
    cursor: pointer;
}