<!DOCTYPE html>
<html lang="es">
    <head>
        <%- include('../partials/head'); %>
    </head>
    <body>
        <header><%- include('../partials/header'); %></header>

        <main><%- include('../partials/adminMain'); %></main>

        <footer><%- include('../partials/footer'); %></footer>

        <!-- SweetAlert2 -->
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    </body>
</html>
